/* src/components/PlanetCard.css */

.planet-card {
    background-color: #1a1e2b;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .planet-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
  }
  
  .planet-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #333;
  }
  
  .planet-card-title {
    color: #00e6db;
    font-size: 1.8em;
    margin: 15px 0 10px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .planet-card-description {
    color: #ccc;
    font-size: 1em;
    padding: 0 20px;
    flex-grow: 1;
  }
  
  .planet-card-button {
    display: inline-block;
    background-color: #00e6db;
    color: #0b0f1a;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .planet-card-button:hover {
    background-color: #00e6db;
    transform: translateY(-2px);
  }

  .font-header {
    font-family: 'Orbitron', sans-serif;
  }
  
  .font-body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }